<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiKeyDomainTest</key>
	<string>https://raw.githubusercontent.com/KayHsiao/TestActivity</string>
	<key>ApiKeyDomainProduction</key>
	<string>https://raw.githubusercontent.com/mbywczgxy/0610</string>
</dict>
</plist>
